*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    display: flex;
    flex direction: column;
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: row;
    flex: autos;
}

article{
    flex: 2;
    padding: 20px;
    overflow-y: auto;
    height:100%
}

aside {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position:fixed;
    width: 100%;
    bottom: 0;
}